<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <title>Formulaire Patient</title>
</head>
<body>
<div layout:fragment="content">

<div class="col-md-6 offset-3">
    <form method="post" th:action="@{save}">
        <div>
            <label>Nom</label>
            <input class="form-control" type="text" name="nom" th:value="${patient.getNom()}">
            <span th:onerror="${patient.getNom()}"></span>
        </div>

        <div>
            <label>Date de Naissance</label>
            <input class="form-control" type="text" name="dateNaissance" th:value="${patient.getDateDeNaissance()}">
            <span th:onerror="${patient.getDateDeNaissance()}"></span>
        </div>

        <div>
            <label>Malade</label>
            <input  type="checkbox" name="malade" th:checked="${patient.isMalade()}">
            <span th:onerror="${patient.isMalade()}"></span>
        </div>

        <div>
            <label>Score</label>
            <input  class="form-control" type="text" name="score" th:value="${patient.getScore()}">
            <span th:onerror="${patient.getScore()}"></span>
        </div>

        <button type="submit" class="btn btn-primary">Sauvegarder</button>

        </form>
    </div>
</div>

</body>

</html>